h1 {
    font-family: Oswald, sans-serif;
}

h1 > a {
    color: rgb(43, 33, 22);
}

#md {
    margin: 0;
    padding: 0;
    white-space: pre-line;
    overflow-wrap: break-word;
}

a {
    color: rgb(0, 131, 253);
}

a:hover {
    text-decoration: none;
}

a:active {
    color: rgb(0, 97, 189);
}

p, pre, h1, h2, h3, h4, h5, h6, ul {
    margin: 5px 0;
    font-family: 'Hind Madurai', sans-serif;
}

pre, code {
    /* background: rgb(65, 65, 65); */
    color: white;
    display: block;
    font-family: monospace;
    padding: 10px 5px;
    border-radius: 5px;
}

code {
    display: inline;
    padding: 10px 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#nav {
    min-width: 200px;
    height: calc(100vh - 71.8px);
    padding: 10px;
    margin-right: 16px;
    background: #d5c8bb;
}

.link a {
    color: rgb(70, 66, 66);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Hind Madurai', sans-serif;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 8px 0;
}

.link a:hover {
    background: rgba(255, 255, 255, 0.2);
}

hr {
    border: none;
    border-top: 2px solid #ce5a0d;
}