h1 {
    font-family: Oswald, sans-serif;
}

h1 > a {
    color: rgb(43, 33, 22);
}

#md {
    margin: 0;
    padding: 0;
    white-space: pre-line;
    overflow-wrap: break-word;
}

a {
    color: rgb(0, 131, 253);
}

a:hover {
    text-decoration: none;
}

a:active {
    color: rgb(0, 97, 189);
}

p, pre, h1, h2, h3, h4, h5, h6, ul {
    margin: 5px 0;
    font-family: 'Hind Madurai', sans-serif;
}

pre code {
    background: rgb(65, 65, 65);
    width: calc(100% - 24px);
    color: white;
    display: block;
    font-family: 'Nanum Gothic Coding', monospace;
    padding: 10px 5px;
    border-radius: 5px;
}

code {
    display: inline;
    padding: 10px 0;
    font-family: 'Nanum Gothic Coding', monospace;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#nav {
    min-width: 200px;
    height: calc(100vh - 19px - 2.9em);
    padding: 10px;
    margin-right: 16px;
    background: #d5c8bb;
    overflow: auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#nav + div {
    overflow: auto;
    height: calc(100vh - 60px);
}

.link a {
    color: rgb(70, 66, 66);
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Hind Madurai', sans-serif;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 8px 0;
}

.link a:hover {
    background: rgba(255, 255, 255, 0.2);
}

hr {
    border: none;
    border-top: 2px solid #ce5a0d;
}

@media screen and (max-width: 500px) {
    #nav {
        min-width: 10em;
    }
}